@import "../../css/base.less";

#nav-bar {
  width: 100%;
  height: 140px;
  background-color: #fff;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {

      flex: 1;
      display: flex;

      &>.left {
        flex: 1;
        .logo {
          width: 193px;
          height: 65px;
          margin: 0;
          a {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 0;
            background-image: url(../../assets/images/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      }

      &>.center {
        flex: 2;
        .search-bar {
          width: 400px;
          height: 40px;
          //background-color: darkcyan;
          margin: 0 auto;
          border-radius: 20px;
          border: 3px solid #999;
          box-sizing: border-box;
          display: flex;
          overflow: hidden;
          .category {

            //background-color: cyan;
            flex: 1;
            border-radius: 20px 0 0 20px;
            select {
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 20px 0 0 20px;
              padding-left: 10px;
              font-size: 15px;
              color: #666;
              outline: none;
            }
          }
          .keyword {
            //background-color: darkcyan;
            flex: 4;
            input {
              width: 100%;
              height: 100%;
              padding: 0 0 0 10px;
              border: 0;
              outline: none;
              color: #666;
              font-size: 14px;
            }
          }
          .submit-btn {
            //width: 100%;
            //height: 100%;
            flex: 1;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            input {
              border-radius: 0 20px 20px 0;
              border: 0;
              outline: none;
              width: 100%;
              height: 100%;
              background-color: @themeColor;
              color: #fff;
              font-size: 13px;
              cursor: pointer;
            }
          }
        }
      }

      &>.right {
        //background-color: tomato;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        .intro {
          width: fit-content;
          height: 60px;
          //background-color: cyan;
          position: relative;
          &:hover .operation-pane {
            display: block;
          }
          .user {
            width: fit-content;
            height: 32px;
            //background-color: red;
            display: flex;
            align-items: center;
            .nick-name {
              margin-right: 10px;
              color: #666;
              font-size: 16px;
            }
            .header {
              width: 32px;
              height: 32px;
              border-radius: 16px;
            }
          }
          .operation-pane {
            width: 160px;
            //width: fit-content;
            //height: 300px;
            height: fit-content;
            background-color: #fff;
            border: 1px solid #867d7d;
            box-shadow: 5px 5px 5px 5px gray;
            position: absolute;
            z-index: 999;
            right: 0;
            top: 60px;
            display: none;
            &::after{
              content: "";
              border: 10px solid transparent;
              //border-bottom-color: red;
              position: absolute;
              top: -20px;
              right: 10px;
            }
            .operation {
              padding: 5px;
              li {
                line-height: 34px;
                padding: 0 5px;
                font-size: 12px;
                color: #666;
                &:first-child {
                  border-bottom: 1px solid #eaeaea;
                }
                &:last-child {
                  border-top: 1px solid #eaeaea;
                }
                &:hover {
                  background-color: #f3f4f6;
                  cursor:pointer;
                }
                a {
                  font-size: 12px;
                  color: #666;
                }
              }

            }
          }
        }
      }
    }

    .bottom {
      height: 40px;
      display: flex;


      .left {
        //background-color: deeppink;
        flex: 1;
        .menus {
          //background-color: tomato;
          height: 100%;
          display: flex;
          li {
            position: relative;
            &.current,
            &:hover {
              a {
                color: @themeColor;
              }
              &::after {
                content: "";
                display: block;
                width: ~"calc(100% - 40px)";
                height: 5px;
                background-color: @themeColor;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            a {
              display: block;
              padding: 0 20px;
              //width: 100%;
              height: 100%;
              line-height: 30px;
              //background-color: red;
              font-size: 18px;
              color: #333;



            }
          }
        }
      }

      .right {
        //background-color: palegoldenrod;
        flex: 1;
        ul {
          //background-color: cyan;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          li {
            //background-color: tomato;
            margin-left: 20px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            font-size: 16px;
            color: #666;
            position: relative;
            &::before {
              margin-right: 5px;
            }
            &:hover .ad-pane {
              display : block;
            }

            .ad-pane {
              z-index: 998;
              width: 240px;
              height: 220px;
              background-color: white;
              position: absolute;
              padding: 5px;
              border-radius: 10px;
              box-sizing: border-box;
              top: 40px;
              left: 50%;
              transform: translateX(-50%);
              display: none;
              box-shadow: 0 0 4px 7px #dbdbdb;
              .title {
                font-size: 14px;
                color: #333;
                line-height: 26px;
              }
              .sub-title {
                font-size: 12px;
                color: #666;
                line-height: 23px;
              }
              .ewm {
                width: 145px;
                height: 145px;
              }
              &::after {
                content: "";
                border: 5px solid transparent;
                border-bottom-color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -10px;
              }
            }
          }
        }
      }
    }


  }
}