@import "normalize.css";
@import "//at.alicdn.com/t/font_2940828_jh033gc73io.css";
.bx {
  margin: 0 auto;
  width: 1205px;
}
ul,
p,
dl,
dd {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h5,
h4 {
  margin: 0;
}
#nav-bar {
  width: 100%;
  height: 140px;
  background-color: #fff;
}
#nav-bar .content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#nav-bar .content .top {
  flex: 1;
  display: flex;
}
#nav-bar .content .top > .left {
  flex: 1;
}
#nav-bar .content .top > .left .logo {
  width: 193px;
  height: 65px;
  margin: 0;
}
#nav-bar .content .top > .left .logo a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  background-image: url(../../assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#nav-bar .content .top > .center {
  flex: 2;
}
#nav-bar .content .top > .center .search-bar {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  border: 3px solid #999;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}
#nav-bar .content .top > .center .search-bar .category {
  flex: 1;
  border-radius: 20px 0 0 20px;
}
#nav-bar .content .top > .center .search-bar .category select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px 0 0 20px;
  padding-left: 10px;
  font-size: 15px;
  color: #666;
  outline: none;
}
#nav-bar .content .top > .center .search-bar .keyword {
  flex: 4;
}
#nav-bar .content .top > .center .search-bar .keyword input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 10px;
  border: 0;
  outline: none;
  color: #666;
  font-size: 14px;
}
#nav-bar .content .top > .center .search-bar .submit-btn {
  flex: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#nav-bar .content .top > .center .search-bar .submit-btn input {
  border-radius: 0 20px 20px 0;
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: #51b257;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
#nav-bar .content .top > .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#nav-bar .content .top > .right .intro {
  width: fit-content;
  height: 60px;
  position: relative;
}
#nav-bar .content .top > .right .intro:hover .operation-pane {
  display: block;
}
#nav-bar .content .top > .right .intro .user {
  width: fit-content;
  height: 32px;
  display: flex;
  align-items: center;
}
#nav-bar .content .top > .right .intro .user .nick-name {
  margin-right: 10px;
  color: #666;
  font-size: 16px;
}
#nav-bar .content .top > .right .intro .user .header {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
#nav-bar .content .top > .right .intro .operation-pane {
  width: 160px;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #867d7d;
  box-shadow: 5px 5px 5px 5px gray;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 60px;
  display: none;
}
#nav-bar .content .top > .right .intro .operation-pane::after {
  content: "";
  border: 10px solid transparent;
  position: absolute;
  top: -20px;
  right: 10px;
}
#nav-bar .content .top > .right .intro .operation-pane .operation {
  padding: 5px;
}
#nav-bar .content .top > .right .intro .operation-pane .operation li {
  line-height: 34px;
  padding: 0 5px;
  font-size: 12px;
  color: #666;
}
#nav-bar .content .top > .right .intro .operation-pane .operation li:first-child {
  border-bottom: 1px solid #eaeaea;
}
#nav-bar .content .top > .right .intro .operation-pane .operation li:last-child {
  border-top: 1px solid #eaeaea;
}
#nav-bar .content .top > .right .intro .operation-pane .operation li:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}
#nav-bar .content .top > .right .intro .operation-pane .operation li a {
  font-size: 12px;
  color: #666;
}
#nav-bar .content .bottom {
  height: 40px;
  display: flex;
}
#nav-bar .content .bottom .left {
  flex: 1;
}
#nav-bar .content .bottom .left .menus {
  height: 100%;
  display: flex;
}
#nav-bar .content .bottom .left .menus li {
  position: relative;
}
#nav-bar .content .bottom .left .menus li.current a,
#nav-bar .content .bottom .left .menus li:hover a {
  color: #51b257;
}
#nav-bar .content .bottom .left .menus li.current::after,
#nav-bar .content .bottom .left .menus li:hover::after {
  content: "";
  display: block;
  width: calc(100% - 40px);
  height: 5px;
  background-color: #51b257;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#nav-bar .content .bottom .left .menus li a {
  display: block;
  padding: 0 20px;
  height: 100%;
  line-height: 30px;
  font-size: 18px;
  color: #333;
}
#nav-bar .content .bottom .right {
  flex: 1;
}
#nav-bar .content .bottom .right ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
#nav-bar .content .bottom .right ul li {
  margin-left: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  position: relative;
}
#nav-bar .content .bottom .right ul li::before {
  margin-right: 5px;
}
#nav-bar .content .bottom .right ul li:hover .ad-pane {
  display: block;
}
#nav-bar .content .bottom .right ul li .ad-pane {
  z-index: 998;
  width: 240px;
  height: 220px;
  background-color: white;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  box-shadow: 0 0 4px 7px #dbdbdb;
}
#nav-bar .content .bottom .right ul li .ad-pane .title {
  font-size: 14px;
  color: #333;
  line-height: 26px;
}
#nav-bar .content .bottom .right ul li .ad-pane .sub-title {
  font-size: 12px;
  color: #666;
  line-height: 23px;
}
#nav-bar .content .bottom .right ul li .ad-pane .ewm {
  width: 145px;
  height: 145px;
}
#nav-bar .content .bottom .right ul li .ad-pane::after {
  content: "";
  border: 5px solid transparent;
  border-bottom-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}
/*# sourceMappingURL=index.css.map */