<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻条目</title>
	<link rel="stylesheet" href="index.css">
</head>
<body>
<div class="article-item">
	<div class="top">
		<a href="#" class="title">新闻标题1</a>
		<span class="time">2020年1月1日 23:59:59</span>
	</div>
	<div class="bottom">
		详细内容
	</div>
</div>
<div class="article-item">
	<div class="top">
		<a href="#" class="title">新闻标题1</a>
		<span class="time">2020年1月1日 23:59:59</span>
	</div>
	<div class="bottom">
		详细内容
	</div>
</div>
</body>
</html>