<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讲师卡片组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="teacher-card">
    <div class="left">
        <a href="#">
            <img src="../../assets/images/zsf.jpg" class="t-header">
            <div class="t-name">张三丰</div>
        </a>
    </div>
    <div class="right">
        <div class="t-position">腾讯CEO</div>

        <div class="t-intro">张三丰，人狠话不多。</div>
    </div>
</div>
</body>
</html>